
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadê meu Médico - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

    <style>
        body {
            padding-top: 60px;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Cadê meu Médico</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="home">@Html.ActionLink("Início", "Index", "Home")</li>
                    <li id="medicos">@Html.ActionLink("Médicos", "Index", "Medicos")</li>
                    <li id="especialidades">@Html.ActionLink("Especialidades", "Index", "Especialidades")</li>
                    <li id="cidades">@Html.ActionLink("Cidades", "Index", "Cidades")</li>
                    <li id="logout">@Html.ActionLink("Sair", "Sair", "Usuarios")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

    @RenderSection("script", required: false)

</body>
</html>
